language: java
jdk:
  - oraclejdk13

script:
 - ./gradlew clean build -PdisablePreDex --continue --stacktrace

branches:
  only:
    - master
    
after_success:
- ./gradlew jacocoTestReport coveralls
